<div class="container">
    <div class="card info">
      <header class="head">
        <h1 class="text">Modifier votre Mot de Passe</h1>
      </header>
      <form action="" class="donnee" method="" id="form1">
        <div class="hold-pwd dr">
          <div class="nom dx">
            <input type="password" class="input" name="hold-pwd" id="hold-pwd" [(ngModel)]="password">
            <label for="hold-pwd" class="lbl">Mot de passe actuel</label>
            <button class="icon-pwd" *ngIf="showHide==false">
              <i class="fas fa-eye" (click)="hide_eye()"></i>
            </button>
            <button class="icon_pwd3 cache" *ngIf="showHide">
              <i class="fas fa-eye-slash cache" (click)="hide_eye()" ></i>
            </button>
          </div>
  
        </div>
        <div class="new-pwd1 dr">
          <div class="pwd1 dx">
            <input type="password" class="input" name="n-pwd" id="n-pwd" [(ngModel)]="newpassword">
            <label for="n-pwd" class="lbl">Nouveau mot de passe</label>
            <button class="icon-pwd" *ngIf="showHide1==false">
              <i class="fas fa-eye" (click)="hide_eye2()"></i>
            </button>
            <button class="icon_pwd3 cache" *ngIf="showHide1">
              <i class="fas fa-eye-slash cache" (click)="hide_eye2()" ></i>
            </button>
          </div>
        </div>
        <div class="new-pwd2 dr">
          <div class="pwd2 dx">
            <input type="password" class="input" name="n-pwd2" id="n-pwd2" [(ngModel)]="cnewpassword">
  
            <label for="n-pwd2" class="lbl" >Saisissez à nouveau le mot de passe</label>
            <button class="icon_pwd3" *ngIf="showHide2==false">
              <i class="fas fa-eye"(click)="cacheoeil3()"></i>
            </button>
            <button class="icon_pwd3 cache" *ngIf="showHide2">
              <i class="fas fa-eye-slash cache" (click)="cacheoeil3()" ></i>
            </button>
          </div>
        </div>
        <button class="btn btn-primary" type="button" disabled *ngIf="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Loading...
          </button>
        <div class="btn btn-lg" style="background-color:#fab91a ; color: #324161;" type="submit" value="submit" form="form1" (click)="changepwd()" *ngIf="loading==false">Enregistrer</div>
     
    </form>
    </div>
  </div>
  