<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-T053Z2W7VN');
</script>
<div class="container-flex" *ngIf="cacheimport">
  <app-importcreaprinted  [url]="imagepreview"></app-importcreaprinted>
</div>
<app-header *ngIf="cacheprinted"></app-header>
<body *ngIf="cacheprinted">
  <div class="container" >
    <div id="body" style="background-color: green;">
     
      <div class="image">

        <div class="box-text">
          <p>IMPRESSION DE TOUT SUPPORT PAPIER</p>
          <div class="decouvrir">
            <a style="color: white; margin-top: 67px;" class="btn btn-decouvrir" (click)="View()">Découvrir</a>
          </div>
        </div>
        <div class="box-image">
          <img src="" alt="">
        </div>
     
    </div>
    </div>
    <div class="section-personnalisation" id="view">
      <div class="card-columns">
          
        <div class="card">
          <div class="card-body">
            <button >
              <label for="file">
              <div class="imag" style="margin-top:63px">
              <i class="far fa-images fa-3x"  style="color: brown;"></i>
              
              <i class="far fa-images fa-3x"  style="color: brown;"></i>
              </div>
          
            <i class="fal fa-arrow-circle-up fa-3x" style="color: #324161;"></i>
            <h6 style="color: #324161;">importer votre étiquette ou votre carnet</h6>
          </label> 
          <input type="file" class="file-upload" name="files" id="file" (change)="Upload($event)">
        
        </button>
          </div>
         
        </div>
 



    <div class="card" *ngFor="let item of printed">
   
      <div class="img">
        <img class="im" [src]="item.img">
      </div>
      <div class="middle">
        <a class="text btn" [href]="url+item.print_id">
        Je personnalise
        </a>
      </div>
      <div class="card-body">
        <p style="font-size: 12px;">{{item.name_printed}}</p>
       <p class="prix">{{item.price}} <strong>fcfa</strong></p>
      </div>
    </div>

   
  </div>


    </div>


  </div>
  <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>
</body>

