*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
   
}
/*body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins',sans-serif;
    font-size: bold;

}*/
/*.container{
    //width: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 20px;
}*/
/*.box{
    height: 45px;
    border: solid 1px;
    color: grey;
    //position: relative;

}
.box a{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
*/
.dropdown-menu{
    width: 300px;
    box-shadow: 0 5px 5px;
    text-decoration: none;
}
.dropdown-menu a{
    //align-content: center;
    align-items: center;
    margin-left: 12px;
    margin: 12px;
}
.navbar {
    display: flex;
    flex-wrap: nowrap;
    background: #324161;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;

}
.vertical-line{
    border-left: 1px solid white;
    display:inline;
    height: 17px;
    margin: 0 6px;
    position:relative;
    
}
.navbar ul {
    list-style: none;
}
.navbar ul li{
    color: white;
}
.navbar ul li a{
    text-decoration: none;
    
}
.element1{
    margin-left: 56px;
    display: flex;
}
.element2{
    margin-right: 65px;
    display: flex;

}
/*
.col-4{
    border: solid 1px grey;
    opacity:50% ;
    height: 30px;
    //display: inline-flex;
    align-items: center;
    margin-bottom: 30px;
    //margin: 12px;
    display: flex;
    flex-wrap: nowrap;
    bottom: 12px;
    //text-align: center;
    //vertical-align: middle;
    
 }
    .col-4 a{
        text-decoration: none;
        justify-content: center;
        //color: black;
        //padding-bottom: 12px;
        font-family: 'Poppins',sans-serif;
        font-weight: bold;
        padding: 12px;
        //display: flex;
        
    }
.col-4 a i .fa{
    position: absolute;
    right: -20px;
}
.container{
    display: flex;
    margin-left: 90px;
    flex-wrap: nowrap;
}
.col-4{
    border: solid 1px grey;
    opacity:50% ;
    height: 50px;
    //display: inline-flex;
    align-items: center;
    margin-bottom: 30px;
    margin: 4px;
    display: flex;
    
    //text-align: center;
    //vertical-align: middle;
}*/
img{
    max-height: 44px;
    margin-left: 65px;
    bottom: 30px;
   
}
nav{
    background: white;
    box-shadow: 0 1px 5px;
    height: 57px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
   
   
}
nav .justify{
    float: right;
    margin-right: 62px;
    position:relative;
    top: 10px;
}
//css du corp
.container{
    background-color:transparent;
    width: 70%;
    min-width: 420px;
    padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 60%;


}
form{
    width: 100%;
    position: static;
    margin: 30px auto 0 auto;
    z-index: 3;
}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
    position: static;
}
h1{
    font-size: 30px;
    text-align: center;
    color: #1c093c;
}
p{
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 14px;
    font-weight: 400;
}
.col{
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #c4cae0;
    margin-top: 5px;
}
.col a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Roboto',sans-serif;
}
h6{
    margin-left: 30px;
    margin-right: 30px;
    font-size: 11px;
}
h5{
    display:block; 
    position: relative;
    bottom: 10px;
    color:#324161;
}
@media screen and (max-width:1250px) {
  .navbar{
     display: flex;  
     margin: 0;  
  }
  .container{
      display:flex;
      padding: auto;
  } 
  .col-4{
      display:flex;
  } 
  img{
      display: inline-block;
   
  }
  form{
      position:static;
      display: block;
  }
  footer{
      padding:0;
  }
}
