<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-T053Z2W7VN');
  </script>
<br><br>
<br><br>

<div class="container">
    <div class="row">
        <div class="col-6" style="border: solid 1px #324161;text-align: center;">
            <h6>Le visuel</h6>
            <img [src]="url" width="50%" alt="">
            <div class="row">
                <h6>La  maquettes</h6>
               
                <div class="col-12" style="text-align: center;">
                  <img [src]="viewimage" width="50%" alt="">
                  <a role="button"><strong style="color: #324161;">{{filename}}</strong></a>
                </div>
              </div>
        </div>
        <div class="col-6">
          <br>
          <div class="row"  *ngIf="estvinyle">
              <h5>Type de Vynile</h5>
              <span style="color: red;font-weight: bold;" *ngIf="opaque==false && transp==false" >{{dimerr}}</span>
              <div class="col">
                <input type="radio" class="btn-check" name="vit" id="opaq" autocomplete="off">
                <label class="btn btn-outline-danger" for="opaq" (click)="showopaque($event)">Vinyle opaque</label>
              
                <input type="radio" class="btn-check" name="vit" id="trannt" autocomplete="off">
                <label class="btn btn-outline-danger" for="trannt" (click)="showtransp($event)" >Vinyle Transparent</label>     
              </div>
                   
          </div>
            <br><br>
            <!--type d'impression de bache-->
            <div class="row" *ngIf="estbache">
               
                    <h6>Type d'impression</h6>
                    <span style="color: red;font-weight: bold;" *ngIf="standbache==false && supbache==false">{{err}}</span>
                <div class="choix">
                   
                    <!--<input type="radio" class="btn-check" name="options" id="stand" autocomplete="off">
                    <label class="btn btn-outline-danger" for="stand" (click)="showpricestandbache()">Standard (3000 fcfa/m2) </label>-->
                    <input type="radio" class="btn-check" name="options" id="sup" autocomplete="off">
                    <label class="btn btn-outline-danger" for="sup" (click)="showpricesupbache()">Superieur (7000 fcfa/m2)</label>
                </div> 
            </div>   
            <!--fin-->
             <!--type d'impression de micro perforer-->
             <div class="row" *ngIf="estmicro">
               
                <h6>Type d'impression</h6>
                <span style="color: red;font-weight: bold;" *ngIf="standmicro==false && supmicro==false">{{err}}</span>
               <div class="choix">
                    <!--
                    <input type="radio" class="btn-check" name="opt" id="standper" autocomplete="off">
                    <label class="btn btn-outline-danger" for="standper" (click)="showpricestandmicro()">Standard (5000 fcfa/m2) </label>-->
                    <input type="radio" class="btn-check" name="opt" id="super" autocomplete="off">
                    <label class="btn btn-outline-danger" for="super" (click)="showpricesupmicro()">Superieur (10000 fcfa/m2)</label>
                </div> 
           </div>
         
            <!--fin-->
             <!--type d'impression de kakemono-->
             <div class="row" *ngIf="estkake">
                   <h5>Type de support:</h5>
                   <span style="color: red;font-weight: bold;" *ngIf="standPkake==false && standBkake==false && supBkake==false && supPkake==false">{{err}}</span>
               <div class="col-6">
                   <!--
                <input type="radio" class="btn-check" name="opter" id="petit" autocomplete="off">
                <label class="btn btn-outline-danger" for="petit" (click)="showpetitbas()" >Petit bas </label>
                    -->
               <div class="choix" >
                  
                    <!--<input type="radio" class="btn-check" name="optus" id="standkake" autocomplete="off">
                    <label class="btn btn-outline-danger" for="standkake" (click)="showpricestandPkake()" >Pétit bas standard </label>-->
                    <input type="radio" class="btn-check" name="optus" id="superkake" autocomplete="off">
                    <label class="btn btn-outline-danger" for="superkake" (click)="showpricesupPkake()" >Pétit bas superieur</label>
                </div>
               </div> 
               <div class="col-6">
                   <!--
                <input type="radio" class="btn-check" name="opter" id="largeb" autocomplete="off">
                <label class="btn btn-outline-danger" for="largeb"(click)="showlargebas()" >Large bas </label>
                    -->
                <div class="choix" >
                    
                    <!--<input type="radio" class="btn-check" name="optus" id="standkakeb" autocomplete="off">
                     <label class="btn btn-outline-danger" for="standkakeb" (click)="showpricestandLkake()"  >Large bas Standard </label>-->
                     <input type="radio" class="btn-check" name="optus" id="superkakel" autocomplete="off">
                     <label class="btn btn-outline-danger" for="superkakel" (click)="showpricesupLkake()" >Large bas Superieur </label>
                 </div> 
                </div>
           </div>

            <!--fin-->
            <!--type d'impression de Vynile-->
            <div class="row" *ngIf="estvinyle" >
                <h5>Type d'impression:</h5>
                <span style="color: red;font-weight: bold;" *ngIf="standSD==false && standD==false && supSD==false && supD==false">
                    {{err}}
                </span>
           <!-- <div class="col-6">

             <input type="radio" class="btn-check" name="vynile" id="vine" autocomplete="off">
             <label class="btn btn-outline-danger" for="vine" (click)="showhidestandvine()"  >Standard </label>
             
            <div class="choix"  style="display: grid;" >
               
                 <input type="radio" class="btn-check" name="optus" id="standvine" autocomplete="off">
                 <label class="btn btn-outline-danger" for="standvine" (click)="showpricestandSD()" > Standard sans découpe(3500 fcfa/m2)</label>
                 <input type="radio" class="btn-check" name="optus" id="supervine" autocomplete="off">
                 <label class="btn btn-outline-danger" for="supervine" (click)="showpricestandD()" >Standard avec Découpe (4500 fcfa/m2)</label>
             </div>
            </div> -->
            <div class="col-12">
                <!--
             <input type="radio" class="btn-check" name="vynile" id="vinile" autocomplete="off">
             <label class="btn btn-outline-danger" for="vinile" (click)="showhidesupvine()" >Supérieur </label>
                    -->
             <div class="choix"  >
                 
                  <input type="radio" class="btn-check" name="optus" id="standvineb" autocomplete="off">
                  <label class="btn btn-outline-danger" for="standvineb" (click)="showpricesupSD()" >Superieur Sans découpe (7000 fcfa/m2)</label>
                  <input type="radio" class="btn-check" name="optus" id="supervinel" autocomplete="off">
                  <label class="btn btn-outline-danger" for="supervinel" (click)="showpricesupD()" >Superieur Découpe (8000 fcfa/m2)</label>
              </div> 
             </div>
        </div>
        <div class="btn btnet" >
            <label class="des" for="file">
            importer la maquette
            <i class="fas fa-arrow-circle-up fa-2x"></i>
            </label>
            <input type="file" name="" id="file" hidden (change)="Uplade($event)" >
           </div>
           <span style="color: red; font-weight: bold;" *ngIf="erimport">{{error}}</span>
         <!--fin-->
            <br>   
            <div class="dimension" *ngIf="estbache">  
                <h6> Dimension</h6> 
                <div class="row">
                        <div class="col-sm">
                            <label for="">Longueur</label>
                        <input type="number" class="form-control" aria-describedby="addon3" [(ngModel)]="longueur" (input)="Change($event)" required>
                        <span class="input-group-text diste" id="addon3">m</span>
                    </div>
                    <div class="col-sm">
                        <label for="">Hauteur</label>
                        <input type="number" class="form-control" aria-describedby="addon4" [(ngModel)]="largeur" (input)="Change2($event)"
                        required>
                        <span class="input-group-text diste" id="addon4">m</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="perimetre" hidden>

                    <div class="col-sm">
                        <label for="">Surface</label>
                        <strong style="position: absolute;
                        bottom: 13px;
                        left: 75px;">{{perimetre}} m2</strong>
                    </div>
                    
                </div>
            </div>
            <br><br>
            <div class="prix">
                <h4 ><p class="text-small" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size: 12px; color: red;">prix unitaire:</p>{{Price}} FCFA</h4>
                <input type="number" hidden [(ngModel)]="Price">
            </div>
            <br>
            <div class="quantite">
                <h6>Quantité</h6>
                <input type="number" class="form-control" [(ngModel)]="quantite" required>
            </div>
            <br>

            <div class="dimension" *ngIf="estvinyle">  
                <h6> Dimension du Vinyle</h6> 
                <div class="row">
                        <div class="col-sm">
                            <label for="">Largeur</label>
                        <input type="number" class="form-control" aria-describedby="addon2" [(ngModel)]="longueur" (input)="Change($event)" required>
                        <span class="input-group-text diste" id="addon2">m</span>
                    </div>
                    <div class="col-sm">
                        <label for="">Hauteur</label>
                        <input type="number" class="form-control" aria-describedby="addon" [(ngModel)]="largeur" (input)="Change2($event)" required>
                        <span class="input-group-text diste" id="addon">m</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="perimetre" hidden>

                    <div class="col-sm">
                        <label for="">Surface</label>
                        <strong style="position: absolute;
                        bottom: 13px;
                        left: 75px;">{{perimetre}} m2</strong>
                    </div>
                    
                </div>
            </div>
            <br>
                <div class="choix" *ngIf="format">
                    <div class="row">
                        <h5>Format de l'etiquette</h5>
                        <span style="color: red;font-weight: bold;" *ngIf="rond==false && rectangle==false">{{errond}}</span>

                        <div class="col-sm">
                            <input type="radio" class="btn-check" name="figure" id="superk" autocomplete="off">
                            <label class="btn btn-outline-danger" for="superk" (click)="showrectangle($event)" >rectangulaire</label>
                        </div>
                        <div class="col-sm">
                            <input type="radio" class="btn-check" name="figure" id="supe" autocomplete="off">
                              <label class="btn btn-outline-danger" for="supe" (click)="showrond($event)"  >circulaire </label>
                        </div>
                    </div>
                </div>
              <br>
                <div class="diametre" *ngIf="diametre">
                    <h5> Entrer le diametre</h5>
                    <span style="color: red;font-weight: bold;" *ngIf="rond==true && Diam==undefined">{{errdiam}}</span>
                    <div class="col-sm">
                        <label for="" >Diamètre</label>
                        <input type="number" class="form-control" aria-describedby="addon6" [(ngModel)]="Diam" >
                        <span class="input-group-text diste" id="addon6">cm</span>
                    </div>
                </div>
              <div class="dimansion" *ngIf="dimetiq" >
                  <div class="row">
                      <h5>Dimension de l'etiquette</h5>
                      <span style="color: red;font-weight: bold;" *ngIf="supD==true && hauteur==undefined && large==undefined && this.supSD==false && this.standD==false && this.standSD==false">{{dimerr}}</span>
                    <div class="col-sm">
                        <label for="" >Hauteur</label>
                        <input type="number" class="form-control" aria-describedby="add" [(ngModel)]="hauteur" >
                        <span class="input-group-text diste" id="add">cm</span>
                    </div>
                    <div class="col-sm">
                        <label for="" >Largeur</label>
                        <input type="number" class="form-control" aria-describedby="addonz" [(ngModel)]="large" >
                        <span class="input-group-text diste" id="addon7">cm</span>
                    </div>
                  </div>
              </div>
              
            <br><br>
            <div class="dimension" *ngIf="estmicro">  
                <h6> Dimension</h6> 
                <div class="row">
                        <div class="col-sm">
                            <label for="">Longueur</label>
                        <input type="number" class="form-control" aria-describedby="ad" [(ngModel)]="longueur" (input)="Change($event)" required>
                        <span class="input-group-text diste" id="ad">m</span>
                    </div>
                    <div class="col-sm">
                        <label for="">Hauteur</label>
                        <input type="number" class="form-control" aria-describedby="addo" [(ngModel)]="largeur" (input)="Change2($event)" required>
                        <span class="input-group-text diste" id="addo">m</span>
                    </div>
                    <input type="number" class="form-control" [(ngModel)]="perimetre" hidden>

                    <div class="col-sm">
                        <label for="">Surface</label>
                        <strong style="position: absolute;
                        bottom: 13px;
                        left: 75px;">{{perimetre}} m2</strong>
                    </div>
                    
                </div>
            </div>
            <br><br>
            <button class=" btn btn-info"  style="float: left; background-color: red;" (click)="ChangeComponent(changeit)">Retourner</button>

            <button class="btn-success btne" type="submit" style="float: right;" (click)="AddTocart()">Ajouter au panier</button>
        </div>
        <br><br>
       
    </div>
</div>

<br><br>
<br><br><br>
<br><br>

